/**
 * Css grid variables
 */

/* stylelint-disable number-max-precision */

/* stylelint-disable custom-property-pattern, number-max-precision */

@font-face {
  font-family: EconSans;
  font-weight: 300;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-lig.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-lig.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: normal;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-reg.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-reg.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 700;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-bol.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-bol.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: italic;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-ita.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: normal;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-reg.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-reg.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: italic;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-ita.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 500;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-med.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-med.woff') format('woff');
}

/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */
}

/* stylelint-disable selector-no-type */

html {
  font-size: 18px;
  line-height: 1.35;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/**
 * Colors
 */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-indent: -30000px;
  background-repeat: no-repeat;
}

/* stylelint-disable selector-no-universal */

.ec-footer * {
  box-sizing: border-box;
}

/* stylelint-enable selector-no-universal */

.ec-footer {
  overflow: hidden;  /* Because the -15px margin in the icon list could cause problems */
  padding: 18px;
  padding: 1rem;
  padding-top: 1.5625em;
  padding-bottom: 0;
  color: #b6b6b6;
  font-family: 'EconSans', Tahoma, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  background-color: #121212;
  border-top: #e3120b solid 7.2px;
  border-top: #e3120b solid 0.4rem;
}

.ec-footer__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.88889em;
  line-height: 1.4;
}

/* A couple of footer-specific resets */

/* stylelint-disable selector-no-type */

.ec-footer a:hover,
.ec-footer a:focus {
  opacity: 0.6;
}

.ec-footer a:active {
  opacity: 0.3;
}

.ec-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* This makes the links have a bigger click area */

.ec-footer a {
  display: block;
  text-decoration: none;
}

/* stylelint-enable selector-no-type */

.ec-footer__link {
  color: #b6b6b6;
}

.ec-footer__quote-paragraph {
  margin: 0;
}

/* Standard spacing between pretty much everything :) */

.ec-footer__list .list__item .ec-footer__link,
.ec-footer__header,
.ec-footer__quote-paragraph,
.ec-footer__copyright,
.ec-footer__subscribe-newsletter-link {
  /* Divide by 2 because these are grids */
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
}

/* So kind of everything is going to have inline-block and be in 2 columns */

.ec-footer .list__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.ec-footer__list--subs .list__item {
  width: 33%;
}

/* Tablet means 5 columns pretty much everywhere */

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .ec-footer .list__item,
  .ec-footer__list--subs .list__item {
    width: 20%;
  }
}

/* This makes sure that they stretch for flex to pick them up */

.ec-footer__list--footnote .list__item,
.ec-footer__list--economist .list__item {
  white-space: nowrap;
}

.ec-footer__list--subs .ec-footer__link {
  color: #f2f2f2;
  font-weight: 700;
}

.ec-footer__list--social .ec-footer__header {
  margin: 0;
  color: #7a7a7a;
}

.ec-footer__list--social .list__item {
  width: 60px;  /* Icons are always spaced by 1 icon apart */
}

.ec-footer__list--social .list {
  margin: -9.5px;
}

/* stylelint-disable selector-no-type */

.ec-footer__list--social .list__item svg {
  display: block;
  margin: auto;
}

/* stylelint-enable selector-no-type */

.ec-footer__subscribe-newsletter-icon {
  vertical-align: middle;
  margin-right: calc(-9.5px + 1em);
}

.ec-footer__quote {
  margin: auto;
  color: #7a7a7a;
  font-size: 1.125em;
  line-height: 1.41;
  text-align: center;
}

/* stylelint-disable selector-no-type */

.ec-footer__quote em {
  font-family: 'MiloSerifPro', Palatino, serif;
}

/* Make the text flow when the <br> don't make sense any more */

@media screen and (max-width: 600px) {
  .ec-footer__quote br {
    display: none;
  }
}

/* stylelint-enable selector-no-type */

.ec-footer__footnote .ec-footer__copyright {
  color: #7a7a7a;
  font-size: 0.79012em;
  line-height: 1.34;
}

/* mobile only */

@media (max-width: 1000px) {
  .ec-footer__list--social,
  .ec-footer__list--economist,
  .ec-footer__quote,
  .ec-footer__footnote {
    margin-top: 1.5625em;
    padding-top: 1.5625em;
    border-top: 1px solid #7a7a7a;
  }
  .ec-footer__copyright {
    margin: 1.5625em 0 0 0;
    padding: 1.45em 0;
    border-top: 1px solid #7a7a7a;
  }
  .ec-footer__quote--no-mobile {
    display: none;
  }
}

/* Desktop only */

@media screen and (min-width: 1001px) {
  .ec-footer {
    padding: 0 1.5rem;
    border-top-width: 0.6em;
  }
  .ec-footer__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 2.5em 0;
  }
  .ec-footer__quote {
    padding: 1.5625em 0;
    border-top: 1px solid #7a7a7a;
  }

  /* footnote and copyright go side by side */
  .ec-footer__footnote {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #7a7a7a;
  }
  .ec-footer__copyright {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
  }
  .ec-footer__list {
    padding: 0 1.875em;
  }
  .ec-footer__list--footnote {
    padding: 0;
  }
  .ec-footer__list--subs .list__item {
    display: block;
    width: auto;
  }
  .ec-footer__list--social {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    border-right: 1px solid #7a7a7a;
    border-left: 1px solid #7a7a7a;
  }
  .ec-footer__list--social .list {
    margin-right: -28.5px;  /* So that the last icon does not jump to the next line */
  }
  .ec-footer__list--economist {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 30%;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
  .ec-footer__footnote .ec-footer__link,
  .ec-footer__footnote .ec-footer__copyright {
    margin: 0;  /* Reset <p> styling */
    font-size: 0.79012em;
    line-height: 1.34;
  }
  .ec-footer__footnote .list__item {
    width: auto;
    padding-right: 1em;
  }
  .ec-footer__footnote .list__item:last-child {
    padding-right: 0;
  }
}
